.text-highlight {
  padding: 0px 4px 1px;
}

.text-highlight__fire {
  color: #ff0;
  background: #de0000;
}

.text-highlight__water {
  color: #b2ebf2;
  background: #00f;
}

.text-highlight__earth {
  color: #9e002e;
  background: #81c784;
}

.text-highlight__air {
  color: white;
  background: #29b6f6;
}

.text-highlight__light {
  color: #ffeb3b;
  background: #ab47bc;
}

.text-highlight__dark {
  color: #fe0000;
  background: #000;
}

.text-highlight__gold {
  color: gold;
  text-decoration: underline;
  background: #444;
}

div.inframe_rt .text-highlight__blur-border {
  box-shadow: inset 0 0 3px 2px #f6e9c9;
}

span.postbody .text-highlight__blur-border {
  box-shadow: inset 0 0 3px 2px #dee3e7;
}
