/* general */
/* *bold */
.bd {
  font-weight: bold;
}
/* *italic */
.it {
  font-style: italic;
}
/* *underline */
.ul {
  text-decoration: underline;
}

/* mana color */
/* *text-highlight */
.t-h {
  padding: 0px 4px 1px;
}

.t-h__fire {
  color: #ff0;
  background: #de0000;
}

.t-h__water {
  color: #b2ebf2;
  background: #00f;
}

.t-h__earth {
  color: #900000;
  background: #89ce8c;
}

.t-h__air {
  color: white;
  background: #29b6f6;
}

.t-h__light {
  color: #ffeb3b;
  background: #ab47bc;
}

.t-h__dark {
  color: #fe0000;
  background: #000;
}

.t-h__gold {
  color: gold;
  text-decoration: underline;
  background: #444;
}

div.inframe_rt .t-h__blur-border {
  box-shadow: inset 0 0 3px 2px #f6e9c9;
}

span.postbody .t-h__blur-border {
  box-shadow: inset 0 0 3px 2px #dee3e7;
}

/* other */
.message-content {
  margin: 0 16px;
  font-size: 0.75rem;
  color: #000;
}
.postbody .message-content .bd,
.postbody .message-content .it {
  color: #006699;
}
.inframe_rt .message-content .bd,
.inframe_rt .message-content .it {
  color: #775d39;
}
.message-content .ul {
  color: #000;
}

/* players */
/* *players */
.pl {
  display: flex;
  flex-wrap: wrap;
}

/* *players__item */
.pl__i {
  box-sizing: border-box;
  width: 25%;
  min-width: 230px;
  margin: 0 0 28px;
  padding: 4px 16px 0 4px;
}
.pl__i span[style] {
  color: #000;
}

.pl__i-name {
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
  font-weight: bold;
}
.pl__i-name + br {
  display: none;
}

.pl__i-mana {
  margin-bottom: 4px;
}
.pl__i-mana br,
.pl__i-mana + br {
  display: none;
}

/* cities */
.cities {
}
.cities br:first-child,
.cities br:last-child {
  display: none;
}

.cities__item {
  margin-top: 8px;
}

.cities__item-title {
  position: sticky;
  top: 0;
  margin-bottom: 8px;
  padding-bottom: 3px;
  border-bottom: 1px solid #0004;
}
.cities__item-title + br {
  display: none;
}
.postbody .cities__item-title {
  background: #efefef;
}
.inframe_rt .cities__item-title {
  background: #f1e2c2;
}

/* quests */
.quests {
}
.quests br:first-child,
.quests br:last-child {
  display: none;
}

.quests__item {
  margin-bottom: 8px;
}
.quests__item br:first-child,
.quests__item + br {
  display: none;
}

/* locations */
.locations {
}
.locations br:first-child,
.locations br:last-child {
  display: none;
}

/* alchemy */
.alchemy {
}
.alchemy br:first-child,
.alchemy br:last-child {
  display: none;
}

/* spells */
.spells {
}

.spells__scheme-spell {
  margin-bottom: 8px;
}
.spells__scheme-spell br:first-child,
.spells__scheme-spell + br {
  display: none;
}

/* helpers */
.shop {
  line-height: 18px;
}

/* ------ lifecode adaptation ------ */
.content-frame_block,
.header-frame {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

.post_body {
  margin-left: 0;
}

.poster {
  display: none;
}
